
@{
    ViewBag.Title = "XemDanhSach";
    Layout = "~/Areas/admin/Views/Shared/Layout.cshtml";

}

<!DOCTYPE html>
<html lang="en">
<head>
    <link href="~/Content/assets-admin/css/styles2.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/assets-admin/fonts/themify-icons-font/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="~/Content/assets-admin/fonts/fontello-71dcf3ae/css/fontawesome-codes.css">
    <link rel="stylesheet" href="~/Content/assets-admin/fonts/fontello-71dcf3ae/css/fontawesome-embedded.css">
    <link rel="stylesheet" href="~/Content/assets-admin/fonts/fontello-71dcf3ae/css/fontawesome-ie7-codes.css">
    <link rel="stylesheet" href="~/Content/assets-admin/fonts/fontello-71dcf3ae/css/fontawesome-ie7.css">
    <link rel="stylesheet" href="~/Content/assets-admin/fonts/fontawesome-free-6.0.0-web/css/all.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="order-container__header">
        <h2>
            CHỈNH SỬA TÀI KHOẢN
        </h2>
    </div>

    <div class="order-container__content">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="margin-right-20 text-right form-group__label" for="">Họ Tên Khách Hàng</label>
                <input class="form-group__input" type="text">
            </div>

            <div class="form-group">
                <label class="margin-right-20 text-right form-group__label" for="">Giới tính</label>
                <select class=" form-group__input" data-val="true" data-val-number="The field IDChucVu must be a number." id="IDChucVu" name="IDChucVu" placeholder="Chọn chức vụ">
                    <option value="2">Nam</option>
                    <option value="3">Nữ</option>
                </select>

            </div>

            <div class="form-group">
                <label class="margin-right-20 text-right form-group__label" for="">Số chứng minh nhân dân</label>
                <input class="form-group__input" type="text">
            </div>


            <div class="form-group">
                <label class="margin-right-20 text-right form-group__label" for="">Ngày sinh</label>
                <input class="form-group__input" type="date">
            </div>

            <div class="form-group">
                <label class="margin-right-20 text-right form-group__label" for="">Quyền</label>
                <select class=" form-group__input" data-val="true" data-val-number="The field IDChucVu must be a number." id="IDChucVu" name="IDChucVu" placeholder="Chọn chức vụ">
                    <option value="2">Admin</option>
                    <option value="3">Nhân Viên</option>
                </select>
            </div>
            <div class="form-group">
                <label class="margin-right-20 text-right form-group__label" for="">Số điện thoại</label>
                <input class="form-group__input" type="text">
            </div>

            <div class="form-group">
                <label class="margin-right-20 text-right form-group__label" for="">Ghi chú</label>
                <input class="form-group__input" type="text">
            </div>

            <div class="form-group">
                <label class="margin-right-20 text-right form-group__label" for=""></label>
                <div class="form-group__input">
                    @Html.ActionLink("Hoàn Thành", "", "TaiKhoan", new { @class = "button--modify padding-8", data_val = "abc" })
                    <a class="button--modify padding-8" href="/admin/Taikhoan/DanhSachTaiKhoan">Quay Lại</a>
                </div>
            </div>
        </div>

    </div>

</body>
</html>

